body {
  margin: 0;
  padding: 10px;
  font-family: monospace;
  font-size: 1em;
  text-align: center;
}

sup {
  font-size: 0.6em;
}

a {
  text-decoration: none;
  color: black;
}

span {
  font-size: 1.2em;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
  padding-top: 20px;
  margin-bottom: 30px;
}

/* Analog */

.analog-clock {
  width: 140px;
  height: 140px;
}

#clock-face {
  stroke: #666666;
  stroke-width: 2px;
  fill: white;
}

#h-hand, #m-hand, #s-hand, #s-tail {
  stroke-linecap: round;
}

#h-hand {
  stroke: #222222;
}

#m-hand {
  stroke: #424141;
}

#s-hand, #s-tail {
  stroke: #666666;
}

#h-hand {
  stroke-width: 3px;
}

#m-hand {
  stroke-width: 2px;
}

#s-hand {
  stroke-width: 1px;
}

.time-text {
  text-align: center;
  padding-top: 10px;
  color: #000000;
}
